<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать животное</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <div th:replace="~{fragments/menu :: menu}"></div>


    <h1>Редактировать животное</h1>

    <form th:action="@{'/pets/edit/' + ${pet.id}}" th:object="${pet}" method="post">

        <label>Имя:</label>
        <input type="text" th:field="*{name}">
        <div class="error-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

        <label>Вид:</label>
        <input type="text" th:field="*{species}">
        <div class="error-block" th:if="${#fields.hasErrors('species')}" th:errors="*{species}"></div>

        <label>Номер паспорта:</label>
        <input type="text" th:field="*{passportNumber}">
        <div class="error-block" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}"></div>

        <label>Владелец:</label>
        <select th:field="*{owner.id}" required>
            <option value="" disabled>Выберите владельца</option>
            <option th:each="o : ${owners}"
                    th:value="${o.id}"
                    th:text="${o.email}">
            </option>
        </select>
        <div class="error-block" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></div>



        <label>Порода:</label>
        <input type="text" th:field="*{breed}">
        <div class="error-block" th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}"></div>

        <label>Дата рождения:</label>
        <input type="date" th:field="*{birthDate}" min="2000-01-01" max="2025-12-31">

        <!-- Ошибка от стандартной валидации -->
        <div class="error-block" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>

        <!-- Ошибка от кастомной проверки через @AssertTrue -->
        <div class="error-block" th:if="${#fields.hasErrors('birthDateValidProxy')}" th:errors="*{birthDateValidProxy}"></div>


        <div class="error-block" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></div>

        <button type="submit">Сохранить</button>
    </form>

</div>

</body>
</html>
